---
import Link from '@/components/Link.astro'
import Logo from '@/components/Logo.astro'
import MobileNav from '@/components/mobile-nav/MobileNav.astro'
import Search from '@/components/search/Search.astro'
import headerNavLinks from '@/libs/headerNavLinks'
import siteConfig from '@/libs/siteConfig'
import { URLS } from '@/libs/UrlLibs'
---

<header class="flex items-center justify-between py-10">
  <div>
    <Link href={URLS.HOME} aria-label={siteConfig.title}>
      <div class="flex items-center justify-between hover:text-primary-400">
        <div class="mr-5">
          <Logo />
        </div>
        <div class="hidden h-6 text-xl font-semibold xl:block">{siteConfig.title}</div>
      </div>
    </Link>
  </div>
  <div class="flex items-center space-x-4 leading-5 sm:space-x-6">
    {
      headerNavLinks.map((link) => (
        <Link href={link.href} class="hidden font-medium hover:text-primary-400 sm:block">
          {link.title}
        </Link>
      ))
    }
    <Search />
    <MobileNav />
  </div>
</header>
